%ul
  - if ::Refinery::Designers::Admin::DesignersController.searchable?
    %li
      = render '/refinery/admin/search', url: refinery.designers_admin_designers_path
  %li
    = action_label :add, refinery.new_designers_admin_designer_path, t('.create_new')
  - if !searching? && ::Refinery::Designers::Admin::DesignersController.sortable? && ::Refinery::Designers::Designer.many?
    %li
      = action_label :reorder,                                  
        refinery.designers_admin_designers_path,                
        t('.reorder', what:  "Designers"), id: 'reorder_action' 
      = action_label :reorder_done,                                                       
        refinery.designers_admin_designers_path,                                          
        t('.reorder_done', what: "Designers"), id: 'reorder_action_done', class: 'hidden' 
