%li{:class => "clearfix record #{cycle("on", "on-hover")}", :id => "#{dom_id(designer)}"}
  %span.title
    = designer.name
    —
    %span{:style => "color: #5e5e5e"}= designer.title
  %span.preview
  %span.actions
    = action_icon(:preview, refinery.designers_designer_path(designer), t('.view_live_html'))
    = action_icon(:edit, refinery.edit_designers_admin_designer_path(designer), t('.edit'))
    = action_icon(:delete, refinery.designers_admin_designer_path(designer), t('.delete'),
      {class: "cancel confirm-delete",
      data: {confirm: t('message', scope: 'refinery.admin.delete', title: designer.title)}})
