= form_for [refinery, :designers_admin, @designer] do |f|
  = render '/refinery/admin/error_messages',
    object: @designer,
    include_object_name: true
  .field
    = f.label :name
    = f.text_field :name, class: 'larger widest'
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :photo
    = render '/refinery/admin/image_picker',
      f: f,
      field: :photo_id,
      image: @designer.photo,
      toggle_image_display: false
  .field
    = render '/refinery/admin/wysiwyg',
      f: f,
      fields: [:description],
      object: "designers/designer"
  = render '/refinery/admin/form_actions', f: f,
    continue_editing: false,
    delete_title: t('delete', scope: 'refinery.designers.admin.designers.designer'),
    delete_confirmation: t('message', scope: 'refinery.admin.delete', title: @designer.title)
- content_for :javascripts do
  :javascript
    $(document).ready(function () {
      page_options.init(false, '', '');
    });
