= render 'refinery/admin/search_header', url: refinery.designers_admin_designers_path
.pagination_container
  - if @designers.any?
    = render 'designers'
  - else
    %p
      - if searching?
        = t('no_results', scope: 'refinery.admin.search')
      - else
        %strong
          = t('.no_items_yet')
