%ul#sortable_list
  = render partial: 'designer', collection: @designers
= render '/refinery/admin/sortable_list',
  continue_reordering: (local_assigns.keys.include?(:continue_reordering)) ? continue_reordering : true
