%section#records
  = render 'records'
%aside#actions
  = render 'actions'
= render '/refinery/admin/make_sortable',
  options: {tree: false} if !searching? and ::Refinery::Designers::Admin::DesignersController.sortable? and ::Refinery::Designers::Designer.many?
