.container-fluid
  %h1
    Our Team
  - @designers.each_with_index do |designer, index|
    .row
      - if index % 2 == 0
        .col-xs-12.col-md-4.col-lg-4
          = image_fu designer.photo, '956x956#', class:'img-responsive img-thumbnail img-circle',style:'width:100%'
        .col-xs-12.col-md-8.col-lg-8
          = link_to refinery.designers_designer_path(designer) do
            %h2
              = raw designer.name
          %h3
            = raw designer.title
          %p
            = raw designer.description
          %p
      - else
        .col-xs-12.col-md-4.col-lg-4.col-md-push-8
          = image_fu designer.photo, '956x956#', class:'img-responsive img-thumbnail img-circle',style:'width:100%'
        .col-xs-12.col-md-8.col-lg-8.col-md-pull-4{style: 'text-align: right;'}
          = link_to refinery.designers_designer_path(designer) do
            %h2
              = raw designer.name
          %h3
            = raw designer.title
          %p
            = raw designer.description
          %p
