- content_for :body_content_title do
  = @designer.title
- content_for :body do
  %section
    %h1 Title
    %p
      = raw @designer.title
  %section
    %h1 Name
    %p
      = raw @designer.name
  %section
    %h1 Photo
    %p
      = image_fu @designer.photo, nil
  %section
    %h1 Description
    %p
      = raw @designer.description
- content_for :side_body do
  %aside
    %h2= t('.other')
    %ul#designers
      - @designers.each do |designer|
        %li
          = link_to designer.title, refinery.designers_designer_path(designer)
= render '/refinery/content_page'
